<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meta.board.domain.file.FileMapper">

    <sql id="fileColumns">
         board_id
         ,original_name
         ,save_name
         ,size
         ,delete_yn
         ,created_date
         ,deleted_date
    </sql>

    <insert id="saveAll" parameterType="list">
        INSERT INTO files(
                <include refid="fileColumns" />
        )
        VALUES
            <foreach collection="list" item="file" separator=",">
                (
                    #{file.boardId}
                    ,#{file.originalName}
                    ,#{file.saveName}
                    ,#{file.size}
                    ,0
                    ,NOW()
                    ,NULL
                )
            </foreach>
    </insert>

    <!-- 파일 리스트 조회 -->
    <select id="findAllByBoardId" parameterType="long" resultType="com.meta.board.domain.file.FileResponse">
        SELECT
            id,
        <include refid="fileColumns" />
        FROM
        files
        WHERE
        delete_yn = 0
        AND board_id = #{value}
        ORDER BY
        id
    </select>

    <!-- 파일 상세정보 조회 -->
    <select id="findById" parameterType="long" resultType="com.meta.board.domain.file.FileResponse">
        SELECT
            id,
        <include refid="fileColumns" />
        FROM
        files
        WHERE
        delete_yn = 0
        AND id = #{value}
    </select>


    <!-- 파일 리스트 조회 -->
    <select id="findAllByIds" parameterType="list" resultType="com.meta.board.domain.file.FileResponse">
        SELECT
            id,
        <include refid="fileColumns" />
        FROM
        files
        WHERE
        delete_yn = 0
        AND id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY
        id
    </select>


    <!-- 파일 삭제 -->
    <delete id="deleteAllByIds" parameterType="list">
        UPDATE files
        SET
        delete_yn = 1
        , deleted_date = NOW()
        WHERE
        id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findDeleteFileNum" parameterType="long" resultType="list">
        select
    </select>
</mapper>