* {
    font-family: 'Nanum Gothic', sans-serif;
}

header{
    margin: 25px auto;
    width: 1100px;
    border-bottom: 2px solid #eee;
    padding-top:25px;
}
.contains{
    margin: 30px auto;
    width: 1100px;
}
.list-top-area{
    overflow: hidden;
}

.search-area{
    float: left
}

.write-btn-area{
    float:right;
}
.board-list, .page-area{
    margin: 20px auto;
    text-align: center;
}

#title{
    text-align: left;
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.8rem 0.5rem;
    overflow: hidden;
}

.board-list table{
    table-layout:fixed;
}


.sort-area{
    width: 105px;
    text-align: center;
}

.board-id{
    width: 100px;
}
.board-title{
    width: 650px;
}
.board-write{
    width: 155px;
}
.board-date{
    width: 120px;
}
#write-btn{
    float: right;
}

.btn-area{
    justify-items: center;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    padding: 0 38%;
}
.btn-area > button{
    margin-left: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.search-area > form > div{
    display: inline-block;
}
.search-choice{
    width: 105px;
}
.search-bar{
    width: 200px;
}

.page-nav{
    display: inline-block;
}


input:focus {outline: none;}

#keyword{
    padding-left: 5px;
}