* {font-family: 'Noto Sans KR', sans-serif;}

header{
    margin: 3vh auto;
    width: 1100px;
    border-bottom: 2px solid #eee;
    padding-top:25px;
}

h2{font-weight: bold !important;}

.contains{
    margin: 30px auto;
    width: 1100px;
}

a{
    text-decoration: none !important;;
    color: black !important;;
}

input:focus {outline: none;}