/* 상단 영역 */
.list-top-area{
    width: 100%;
    overflow: hidden;
}

/* 정렬 영역 */
.sort-area {float: left}

/* 검색 영역 */
#keyword{padding: 2px 10px;
}

.search-area{
    margin-left : 5px;
    float:left;
}
.search-bar{
    margin-left:5px;
}
.search-area > div{float:left;}
.search-icon{
    border: 1px solid black;
    margin-left: -1px;
    padding: 0px 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.search-word{
    margin-top:5px;
    font-size: 15px;
}
#write-btn{
    margin-right: 5px;
}
.search-icon:hover{
    cursor: pointer;
}



/* 리스트 영역 */
#title, #writer{
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#title{
    text-align: left;
}

.reply-icon{
    width: 15px;
    height: 15px;
}
.board-list{
    margin: 20px auto;
    text-align: center;
}

.comment{
    text-align: right;
}
.page-area{
    margin: 30px auto;
    text-align: center;
}

.board-list table{
    table-layout:fixed;
    border-top: 1px solid #ddd;
}

.board-id{width: 100px;}
.board-title{width: 755px;}
.board-write{width: 90px;}
.board-date{width: 110px;}

/* 정렬 영역 */
.sort-area{
    width: 105px;
    text-align: center;
}

/* 하단 영역 공통 */
.list-bottom-area{
    width: 100%;
    border: 1px solid #ddd;
    overflow: hidden;
    padding: 25px 30%;
}
/* 하단(페이징 영역) */
.page-item{margin: 0 5px;}
.page-num{border: none !important;}
.page-nav{display: inline-block;}
.pagination {--bs-pagination-active-bg: #7b9dbb !important;}
.page-link{color : #0a0c9e !important;}


.write-btn-area{float:right;}


.reply-btn > button{
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    padding: 0.19999rem 0.375rem;
    margin-right: 10px;
}


/* 댓글 영역*/
.comment-writer-area{
    width: 50% !important;
}

.excel-form{
    float:right;
    margin-right: 10px;
}

.excel-form > button{
    background-color: #4f914f;
    color: #fff;
}

.excel-form > button:hover{
    background-color: #4f914f;
    color: #fff;
}