.info-area{
    overflow: hidden;
}
.writer-area{
    width: 395px;
    float: left;
}

.password-area{
    width: 380px;
    float: right;
}

.btn-area{
    display: flex;
    margin-top:30px;
    width: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.btn-area > button{
    margin-right: 10px;
}

#upload-forms{
    border:1px solid #ddd;
    padding: 10px;
}

.upload-form{
    margin-bottom: 10px;
}

.upload-form > span{
    text-align: center;
    display: block;
    padding: 30px 0;
}

#add-upload-form{
    margin: 15px 0;
}


.file-size-box{
    display: inline-block;
    float:right;
    padding-top: 10px;
}